---
// src/pages/dashboard/calendar.astro
import DashboardLayout from '../../layouts/DashboardLayout.astro';
import { Sidebar } from '../../components/dashboard/sidebar/Sidebar';
import { CalendarContent } from '../../components/dashboard/CalendarContent';
import { ProtectedRoute } from '../../components/auth/ProtectedRoute';
---
<DashboardLayout title="Calendario | Yuppie">
  <ProtectedRoute client:load>
    <div class="min-h-screen flex">
      <Sidebar client:load />
      <main class="transition-all duration-300 p-4 md:pl-64 w-full">
        <CalendarContent client:load />
      </main>
    </div>
  </ProtectedRoute>
</DashboardLayout>