---
import DashboardLayout from '../../layouts/DashboardLayout.astro';
import { Sidebar } from '../../components/dashboard/Sidebar';
import { DashboardContent } from '../../components/dashboard/DashboardContent';

// Datos temporales para la demo
const userData = {
  name: "Matías",
};
---

<DashboardLayout title="Dashboard | Yuppie">
  <div class="min-h-screen">
    <Sidebar client:load />
    <main class="pl-64">
      <DashboardContent client:load userData={userData} />
    </main>
  </div>
</DashboardLayout>