---
// src/pages/dashboard/improvements.astro
import DashboardLayout from '../../layouts/DashboardLayout.astro';
import { Sidebar } from '../../components/dashboard/Sidebar';
import { ImprovementsContent } from '../../components/dashboard/ImprovementsContent';
import { ProtectedRoute } from '../../components/auth/ProtectedRoute';
---

<DashboardLayout title="Mejoras | Yuppie">
  <ProtectedRoute client:load>
    <div class="min-h-screen">
      <Sidebar client:load />
      <main class="pl-64">
        <ImprovementsContent client:load />
      </main>
    </div>
  </ProtectedRoute>
</DashboardLayout>