---
import Layout from '../layouts/Layout.astro';
import { LoginForm } from '../components/auth/LoginForm';
---

<Layout title="Login - Yuppie">
  <div class="min-h-screen bg-gradient flex items-center justify-center p-4">
    <LoginForm client:load />
  </div>
</Layout>