---
import Layout from '../layouts/Layout.astro';
import { RatingForm } from '../components/feedback/Rating';
import { getRestaurant, incrementTaps } from '../services/api';

const localId = Astro.url.searchParams.get('local');
console.log('Local ID recibido:', localId);

if (!localId) {
  console.error('No se recibió local ID');
  return Astro.redirect('/404');
}

let restaurant;

try {
  restaurant = await getRestaurant(localId);
  console.log('Restaurante encontrado:', restaurant);
  
  if (!restaurant) {
    console.error('No se encontró el restaurante');
    return Astro.redirect('/404');
  }

  // Solo intentar incrementar taps si encontramos el restaurante
  await incrementTaps(localId);
} catch (error) {
  console.error('Error al procesar la página:', error);
  return Astro.redirect('/error');
}
---

<Layout title="Califica tu experiencia">
  <div class="min-h-screen bg-gradient flex flex-col items-center justify-center p-4">
    <div class="w-full max-w-md">
      <h1 class="text-4xl font-bold mb-6 text-center text-shadow">
        {restaurant.attributes.name}
      </h1>
      
      <div class="card p-6">
        <h2 class="text-2xl font-semibold mb-4 text-center">Califica tu experiencia</h2>
        <RatingForm 
          client:load 
          restaurantId={restaurant.id.toString()}
          nextUrl={`/improvement?local=${localId}`}
          linkMaps={restaurant.attributes.linkMaps}
        />
      </div>
    </div>
  </div>
</Layout>


<style>
  .card {
    transition: transform 0.3s ease;
  }
  .card:hover {
    transform: translateY(-5px);
  }
</style>