---
// src/layouts/DashboardLayout.astro
import { ViewTransitions } from 'astro:transitions';
import Head from '../components/common/Head.astro';
import '../styles/globals.css';
import Analytics from '@vercel/analytics/astro'

interface Props {
  title: string;
  description?: string;
}

const { 
  title, 
  description = "Dashboard | Yuppie" 
} = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <Head title={title} description={description} />
    <ViewTransitions />
    <style is:global>
      :root {
        --blue-primary: #4318FF;
        --blue-light: #9181F2;
        --blue-dark: #1D0158;
      }
      
      .bg-gradient {
        background: linear-gradient(135deg, var(--blue-primary), var(--blue-dark));
      }

      main {
        transition: padding-left 0.3s ease;
      }
    </style>
  </head>
  <body class="min-h-screen bg-gradient font-['Poppins',sans-serif] text-white">
    <slot />
  </body>
</html>