---
import { ClientRouter } from 'astro:transitions';
import Head from '../components/common/Head.astro';
import '../styles/globals.css';
import Analytics from '@vercel/analytics/astro';
import { Sidebar } from '@/components/dashboard/sidebar/Sidebar';
import Header from '@/components/dashboard/header/Header';

export interface Props {
  title: string;
  description?: string;
  showRestaurantHeader?: boolean;
  section: string;
}

const {
  title,
  description = 'Dashboard | Yuppie',
  section = 'dashboard',
  showRestaurantHeader = true,
} = Astro.props;
---

<!doctype html>
<html lang='es'>
  <head>
    <Head title={title} description={description} />

    <ClientRouter />
  </head>

  <body class="w-dvw min-h-screen bg-gradient font-['Poppins',sans-serif] text-white overflow-x-hidden">
    <div class="flex w-full min-h-dvh">
      <Sidebar client:load section={section} />
      <Header client:load/>
      <slot />
    </div>


    <!-- <Analytics /> -->
  </body>
</html>
